.usuario {
    display: block;
    box-shadow: 10px 10px 10px gray;
    min-height: 600px;
    color: white;
    background:linear-gradient(to right, rgb(24, 163, 156), rgb(12, 123, 143), rgb(70, 70, 167));
}
.usuario img{
    width: 60px;
}
.usuario > img.dinheiro {
    display: flex;
    justify-items: flex-end;
    margin-right: 10px;
}


.usuario button {
    text-decoration: none;
    display: flex;
    margin: 5px auto;
    background: none;
    border: solid;
    border-radius: 12px;
}
.usuario button:hover{
    clear: both;
    border-color: white;
    font-size: 19px;
    text-decoration: none;
}

.usuario label{
    margin-top: 10px;
    display: block;
    text-align: start;
}

.tipo {
    margin: 25px 0px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.tipo input {
    margin: 0px;
}

@media(max-width: 600px){
    .usuario{
        width: 95%;
    }
}
