.footer{
    margin-top: 30px;
    width: 100%;
    border-top: solid 2.5px rgb(70, 195, 199);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;
}

.footer a{
  text-decoration: none;  
  color: black;
}

.footer a:hover{
    color: black;
    text-decoration: underline;  

}
ul li{
    list-style: none;
    text-align: start;
    margin: 15px 0;
}

ul li.ing {
    text-align: center;
    padding: 5px;
    display: none;
}
ul li.esp{
    text-align: center;
    padding: 5px;
    display: none;
}
ul li.por{
    text-align: center;
    padding: 5px;
    display: none;
}


/* a:hover{
    text-decoration: underline;
    font-size: 16.3px;
    color: rgb(82, 78, 78);
} */

.icon-footer{
    margin: 0;
    display: flex;
    padding: 10px;
}
.icon-footer img{
    margin: 40px 2px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.icon-footer img:hover{
    background-color:rgb(70, 195, 199);
    height: 62px;
    width: 62px;
    cursor: pointer;
}
