.login{
    width: 50%;
    min-height: 350px;
    margin: 10px auto;
    padding: 10px;
    border: dotted black;
    display: grid;
    justify-content: center;
}
.login img {
    width: 80px;
    position: relative;
    margin: 0 auto;
}

.login input{
    width: 90%;
    padding: 0;
    border: none;
    font-size: 20px;
    height: 30px;
    margin-bottom: 20px;
    background: none;
    border-bottom: solid black;
}

.login a{
    text-decoration: none;
}
.login a {
    padding: 10px;
    text-align: center;
}
.login a:hover{
    font-size: 16.5px;
} 
.login a + a{
    font-size: 12px;
    text-decoration: underline;
}

.login a + a:hover{
    font-size: 12.5px;
}


.login label{
    text-align: start;
}
button{
    margin: 5px auto;
    width: 100px;
    padding: 10px;
    border: none;
    background-color: gray;
}
button:hover{
    background-color: rgba(146, 145, 145, 0.8);
    font-size: 13px;
}


