.login{
    width: 50%;
    min-height: 350px;
    margin: auto;
    padding: 10px;
    border: dotted black;
    display: grid;
    justify-content: center;
}
.login img {
    width: 80px;
    position: relative;
    margin: 0 auto;
}

.login input{
    width: 90%;
    padding: 0;
    border: none;
    font-size: 20px;
    height: 30px;
    margin-bottom: 20px;
    background: none;
    border-bottom: solid black;
}

.login a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
}
.login a:hover{
    color: black;
    font-size: 16.5px;
} 
.login a + a{
    font-size: 12px;
    color: black;
    /* text-decoration: underline; */
}

.login a + a:hover{
    font-size: 12.5px;
}


.login label{
    text-align: start;
}
.login button{
    font-size: 20px;
    margin: 5px auto;
    width: 100px;
    padding: 10px;
    border: none;
    background-color: gray;
}
.login button:hover{
    font-size: 19.5px;
    text-decoration: none;
}


@media(max-width: 600px){
    .login{
        width: 90%;
    }
}