.titulo{
    text-align: center;
    font-weight: 500;
    margin: 10px auto;
}

p{
    text-align: justify;
    width: 70%;
    margin: 20px auto;
}

@media(min-width: 650px){
    .About{
        height: 500px;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.link{
    text-decoration: none;
    margin: 10px auto;
    display: flex;
}

.link button{
    width:200px;
    background-color: gray;
}
.link img{
    margin-left: 10px;
    vertical-align: middle;
    width: 20px;
}