@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.header {
    position: static;
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
.icon-menu{
    position: relative;
    left: 0;
    margin: 0 20px;
    width: 40px;
    height: 40px;
}

.icon-user{
    position: absolute;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    right: 0;
    
}
.icon-user:hover{
    height: 41px;
    width: 41px;
}
.logo{
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

.menu{
    width: 120px;
    min-height: 120px;
    position: absolute;
    border-top: solid 2px;
    right: 0;
    top: 62px;
    padding: 10px;
    margin-top: 16px;
   
}

.menu p{
    text-align: center;
    display: block;
    widows: 100%;
}

.menu div{
    display: flex;
    justify-content: flex-start;
    justify-self: center;
    justify-items: center;
    margin: 10px 0;
    font-size: 15pt;
}
.menu div img{
    width: 20px;
    height:20px;
}

.menu div img:hover{
    display: flex;
    width: 21px;
    height:21px;
}

.user{
    text-decoration: none;
    font-size: 15pt;
    font-family: monospace;
}