
.borda{
    margin:15px;
    border: 2px dotted black;
}
.paper{
    display: block;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}

.paper > h1{
    margin: 0 auto;
    font-family: 'Montserrat Subrayada', 'sans-serif';
    text-align: center;
}

.cabecalho{
    max-width: 100%;
    margin: 10px auto;
    position: relative;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
.cabecalho div{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}  

.table{
    min-width: 90%;
    font-size:16pt;
}

.categoria_relatorio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    
}
.categoria_relatorio select{
    font-size: 18pt;
    width: 80%;
    
}

.categoria_relatorio button{
    width: 20%;
}
    

@media(max-width: 500px){
    .cabecalho div.dois{
        margin-top:-50px;
        padding:0;
        font-size: 14pt;

    }
    .cabecalho div.um{
        font-size: 12pt;
        margin: 0;
        height: 100px;
        padding: 0;
    }
}
