*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.content{
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    min-height: calc(100vh - 200px);
    /* background-color: red; */
}

.landingPage{
    height: 1000px;
    margin: 0 auto;
    display: grid;
}

.landingPage button{
    margin: 20px auto;
    width: 200px;
    padding: 15px;
    background-color: rgb(7, 165, 157);
}
.landingPage p{
    margin: 50px auto;
}

.landingPage img {
    margin: 20px auto;
    width: 70px;
}