<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo da sennha</title>
</head>

<body>
    <div class="card" style="width: 18rem;">
        <p>Olá <%=name%>,</p>
        <p>Esse código é válido apenas uma vez</p>
        <span>
            <%=cod%>
        </span>
    </div>
</body>

</html>