*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
button{
    justify-content: center;
}
.content{
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    min-height: calc(100vh - 200px);
}


.landingPage{
    min-height: 600px;
    margin: 0 auto;
    display: grid;
}

.landingPage button{
    display: flex;
    margin: 20px auto;
    width: 200px;
    padding: 15px;
    background-color: rgb(7, 165, 157);
}
.landingPage p{
    margin: 30px auto; 
}

.landingPage img {
    display: flex;
    margin: 20px auto;
    width: 70px;
}

.landingPage div{
    border: solid 0.1px black;
    border-radius: 12px;
    box-shadow: rgb(201, 188, 188) 1px 5px  1px;
    margin: 10px;
    max-height: 250px;
    padding: 10px;
}

@media(min-width: 650px){
    .landingPage{
        height: 500px;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .landingPage img {
            display: flex;
            margin: 0 auto;
        }
        .landingPage button{
            display: flex;
            justify-content: center;
        }
}

@media(min-width: 900px){
    .landingPage{
        height: 600px;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

table{
    width: 90%;
    font-size: 12pt;
    margin: 20px auto;
    border: dotted 1px rgb(37, 206, 206);
    border-radius: 12px;
    box-shadow: 1px 1px 1px rgba(139, 143, 143, 0.5);
    padding: 5px;
}

table thead{
    text-align: center;
}

table thead tr td{
    padding: 5px;
    
}
table tbody tr td{
    padding: 2px;
}
table tbody {
    text-align: center;
    vertical-align: middle;
}
table tbody tr td {
    padding: 0px;
    justify-items: center;
}

.finalized {
    background-color: rgb(74, 173, 74);
}

.pendent {
    background-color: rgb(127, 163, 29);

}
table img.icon{
    display: inline-block;
    justify-items: space-between;
    max-width: 30px;
    margin: 10px;
    padding: 0;
}
table img.icon:hover{
    padding: 1px;
}